In [1]:
import keyword

print(keyword.kwlist)

print("/nTotal number of Keywords: ", len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
/nTotal number of Keywords:  35

These are the builtin keywords in Python
In python , keywords cannot be used as a variable name , or function name

In [2]:
#Identfier is the name given to identify the desired object 
#Also special characters cannot be use as a identifier

#Comments are the statement programmer put to make the code understandable or readable form 
#In order to write a single line comment we start it by putting a hash sign however to write a multiline commment we can use """
""" signs

In [7]:
#Indentation is 4 spaces inside the function :
for i in range(10):
    print (i)

0
1
2
3
4
5
6
7
8
9

In [8]:
#to write multiple statement in a single line we use ;

In [9]:
a= 10
b= 20
c= 80
print(a+b+c)

110

In [10]:
a= 20 ; b= 10 ; c= 70 ; print(a+b+c)

100

In [11]:
#Variable is a location in a memory use to store some data

In [13]:
x = 4
print(id(x))   # x is stored at this location in the memory

140734671974752

Data Type

In [15]:
a = 8
print(a, 'is a type', type(a))   #8 is integer

8 is a type <class 'int'>

In [16]:
b = 7.8
print(b , 'is a type' , type(b))  #7.8 is float

7.8 is a type <class 'float'>

In [17]:
t = 1 +9j
print(t , 'is a type ', type(t))

(1+9j) is a type  <class 'complex'>

In [18]:
c = 'today is a good day '
print(c , 'is a type', type(c))

today is a good day  is a type <class 'str'>

List are mutable that is there value can be altered

In [19]:
a = ['Power BI' , 'Tableau' , 'SQL' , 1 , 3.5]
a

['Power BI', 'Tableau', 'SQL', 1, 3.5]

In [20]:
#list has index numbers that is every value has index and its index starts from 0 
a[0]   #it will print that in a position 0 , PowerBI is placed

'Power BI'

In [21]:
a[-1]   #-1 represents the last value of the list

3.5

Tuple are immutable
tuple is an orderd sequence of items same as list but they are immutable

In [25]:
a = ('Power BI' , 'Tableau' , 'SQL' , 1 , 3.5)
a

('Power BI', 'Tableau', 'SQL', 1, 3.5)

In [26]:
print(a[1])

Tableau

Set is an unordered collection of unique items

In [29]:
a = {'rainy' , 'cloudy' , 'suuny'}
print(a)
print(type(a))

{'cloudy', 'rainy', 'suuny'}
<class 'set'>

In [31]:
#we can perform set operations like Union , INtersection 
#Since set have only unique values so 
a = {1 , 1, 3 , 78 , 80 , 80 , 3}
a

{1, 3, 78, 80}

In [32]:
#we cannot pick particular element in set because it is unordered

Dictionary is an unordered collection of key value pair

In [34]:
d = {'a':'Alfredo' , 'b':'Burger' , 'z':'Zinger'}
print(d['a'])   #we pass key to print value

Alfredo

In [45]:
user = 'Amna'
role = 'Data Analyst'
id_ = '006'

print('Congratulations!' , str(user) ,', reference to your id ', str(id_) +' You have been selected as a'+ str(role) + ' in our company ')

Congratulations! Amna , reference to your id  006 You have been selected as aData Analyst in our company

Output formatting

In [47]:
a= 10 ; b= 20 ; c = 30
print('the value of a is {} and the value of b is {} while the value of c is {} '.format(a,b, c))

the value of a is 10 and the value of b is 20 while the value of c is 30

In [48]:
print('the value of a is {2} , the value of b is {0} and the value of c is {1}'.format(a,b,c))

the value of a is 30 , the value of b is 10 and the value of c is 20

In [52]:
greeting = 'Good Morning'
name = 'Amna'
print("Hello {name} , {greeting}".format(name='Amna' , greeting='GoodMorning'))

Hello Amna , GoodMorning

In [53]:
#to take input from the user
Age = input('Enter your age')
print ("Finally you are" , Age)

Enter your age4
Finally you are 4

In [60]:
Age = input('Enter your age')
print ("Finally you are" , Age) 
if Age == 18:
    print('Finally Legal')
elif Age == 16:
    print('too young')
else:
    print('Sorry for Inconvience')

Enter your age78
Finally you are 78
Sorry for Inconvience

# Operators

operators are special symbols that carry out arithematic or logical computation . 
The value that operator operates is called as operand 

Following are the types of operators
1. Aritematic operators
2. Comaprison (Relational) operators
3. Logical (Boolean) operators
4. Bitwise operators
5. Assignment operators
6. Special Operators

In [61]:
#Arithematic Operations 

s = 50; t= 5
#Addition
print(s+t)

#Subtraction
print(s-t)

#Division
print(s/t)

#Floor division
print(s//t)

#Modulo division
print(s%t)

#Exponent
print(s**t)

55
45
10.0
10
0
312500000

In [62]:
#Comparision operaators are used to compare two variables and return answer in True or False according to the condition

In [63]:
a = 10 ; b= 30
# a is equal to b 
print(a==b)

#a is greater than b 
print(a>b)

#a is less than b
print(a<b)

#a is not equal to b
print(a!=b)

# a is less than or equal to b
print(a <= b)

# a is greater than or equal to b
print(a >=b )

False
False
True
True
True
False

#Logical Operators 
1. and 
2. or
3. not

In [66]:
x = True
y = False

print(x and y)
print(x or y)
print(not x  )

False
True
False

#BITWISE operators act on operand as if they were string of binary digits
#it operates bit by bit
# & , | , ~ , >> , <<

In [68]:
a , b = 10 , 20 
#bitwise and
print (a & b)

#bitwise or
print(a | b)

#bitwise not 
print(~b)

#bitwise right shift 
print(a >> b)

#bitwise leftshift
print(a<<b)

0
30
-21
0
10485760

In [72]:
#Assignment operators are used to assign values to variable
a = 10 
a+= 10
print(a)

#subtract and (-=)
a-=10
print(a)

#multiply and(*=)
a*=10
print(a)

#divide and(/=)
a/=10
print(a)

#Modulus and(%=)
a%=2
print(a)

#Floor Division(//=)
a//=5
print(a)

#Exponent and(**=)
a**=4
print(a)

20
10
100
10.0
0.0
0.0
0.0

#Special Operators 
is and isnot are identity operators use to see if both the variables are lcoated at the same point

In [74]:
a, b = 10 , 10
print (a is b)
print( a is not b)

True
False

#membership operator 
in and not in

In [76]:
lst = [1,2,3,4]
print(5 in lst)
print(2 in lst)

False
True

In [77]:
d= {1:'a' , 2:'b'}
print(1 in d)

True