Tuple are immutuable that is their values cannot be changed

we cannot edit values / elements inside tuple

In [1]:
#empty tuple
t=()

#tuple having integers
t= (1,2,3)
print(t)

#tuple with mixed data types
x= (1, 'Amna' , 2,'Ahmed')
print(x)

#nested tuple 
t= (1, (1,2,4), [1,'Amna' ,2, 'Ahmed'])
print(t)

(1, 2, 3)
(1, 'Amna', 2, 'Ahmed')
(1, (1, 2, 4), [1, 'Amna', 2, 'Ahmed'])

#tuple need to have a comma at the end
example

In [2]:
t=('Amna')
type(t)

str

In [3]:
t=('Amna' ,)
type(t)

tuple

In [5]:
#paranthesis are optional but it is be/indextter to put paranthesis 

t= 'Amna', 23
type(t)

tuple

Accessing elements in Tuple

Just like in list , in tuple also the index start from 0

In [6]:
t= ('Amna', 'Fizza', 'Sadia', 'Uroos', 'Ayesha')
t[1]

'Fizza'

#negative index 
the negative index refers to the last value or index in the tuple

In [8]:
print(t[-1])

Ayesha

In [9]:
#Note , -0 won't work because 0 is a non negative integer !

In [10]:
#nested tuple

t= ('Amna',('Ahmed', 'Farid', 'Bilal'))
print(t[1])

('Ahmed', 'Farid', 'Bilal')

In [12]:
print(t[1][1])

Farid

In [13]:
#slicing

Just like in list , we can also slice values / elements in tuple

In [15]:
t=(1,2,3,4,5,6)
print(t[1:4])


print(t[:-2])

#print element from starting to end
print(t[:])

(2, 3, 4)
(1, 2, 3, 4)
(1, 2, 3, 4, 5, 6)

In [16]:
# we can also concatenate tuple
t = (1,2,3) + ('Amna', 'Fizza')
t

(1, 2, 3, 'Amna', 'Fizza')

In [17]:
#however we can delete elements in the tuple