<a href="https://colab.research.google.com/github/AmnaNazim97/DataScience/blob/master/Milestone1_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The input parameter for student to predict gpa for 7th and 8th semester could are below
for 7th semester:
- inter grades (optional)
- gpa first semester
- gpa second semester
- gpa third semester
- gpa fourth semester
- gpa fifth semester
- gpa sixth semester

for 8th semester:
- inter grades (optional)
- gpa first semester
- gpa second semester
- gpa third semester
- gpa fourth semester
- gpa fifth semester
- gpa sixth semester
- gpa seventh semester

# creating dataset for next semester grades prediction

In [ ]:
import pandas as pd 
import numpy as np
from sklearn.preprocessing import StandardScaler

In [ ]:
df = pd.read_excel("Student_semester_wise_GPA (1).xlsx")

In [ ]:
df

       RN  I_MARKS  T_NO Grade of all semesters  sgpa
0       1      906     1                      A  3.59
1       1        0     2                      A  3.68
2       1        0     3                      A  3.87
3       1        0     4                      A  3.57
4       1        0     5                     B+  3.58
...   ...      ...   ...                    ...   ...
1540  289        0     4                     C+  2.74
1541  289        0     5                     C+  2.75
1542  289        0     6                     C+  2.87
1543  289        0     7                     B+  3.32
1544  289        0     8                     C+  2.86

[1545 rows x 5 columns]

In [ ]:
ls  = []
df[df['RN'] == 1][:6]

   RN  I_MARKS  T_NO Grade of all semesters  sgpa
0   1      906     1                      A  3.59
1   1        0     2                      A  3.68
2   1        0     3                      A  3.87
3   1        0     4                      A  3.57
4   1        0     5                     B+  3.58
5   1        0     6                     B+  3.64

In [ ]:
df['RN'].unique()

array([  1,   2,   3,   4,   5,   6,   7,   9,  10,  11,  12,  13,  14,
        15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,  27,
        28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,  40,
        41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  53,  54,
        55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,  66,  67,
        68,  69,  70,  71,  73,  74,  75,  76,  77,  78,  79,  80,  81,
        82,  83,  84,  85,  86,  87,  88,  89,  90,  91,  92,  93,  94,
        95,  96,  97,  98,  99, 100, 101, 102, 103, 104, 105, 106, 107,
       108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120,
       121, 123, 124, 125, 126, 127, 201, 202, 203, 204, 206, 207, 208,
       209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221,
       222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 235,
       236, 237, 238, 239, 240, 241, 244, 245, 246, 247, 248, 249, 250,
       251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263,
       264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276,
       277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289])

In [ ]:
df[df['RN'] == 1].iloc[6]['sgpa']

3.26

In [ ]:
X7 = {'I_no':[],'S1':[],'S2':[],'S3':[],'S4':[],'S5':[],'S6':[]}
Y7 = {"target":[]}
for i in df['RN'].unique():
    
    if len(df[df['RN'] == i]['sgpa']) == 8:
        X7['I_no'].append(df[df['RN']==i]['I_MARKS'].iloc[0])
        for index,value in enumerate(df[df['RN'] == i][:6]['sgpa']):
            X7['S{}'.format(index+1)].append(value)
for i in df['RN'].unique():
    if len(df[df['RN'] == i]['sgpa']) == 8:
        Y7['target'].append(df[df['RN'] == i].iloc[6]['sgpa'])

In [ ]:
X7['I_no']

[906,
 905,
 863,
 882,
 904,
 885,
 430,
 447,
 901,
 0,
 871,
 853,
 880,
 841,
 451,
 453,
 843,
 438,
 855,
 895,
 420,
 442,
 849,
 848,
 892,
 846,
 887,
 840,
 0,
 881,
 909,
 893,
 0,
 905,
 844,
 856,
 885,
 914,
 855,
 899,
 839,
 881,
 895,
 754,
 836,
 880,
 819,
 831,
 904,
 889,
 858,
 814,
 885,
 840,
 825,
 883,
 838,
 911,
 806,
 850,
 832,
 860,
 757,
 918,
 844,
 844,
 828,
 857,
 797,
 825,
 879,
 820,
 921,
 877,
 847,
 773,
 815,
 857,
 841,
 899,
 825,
 839,
 780,
 853,
 897,
 838,
 896,
 850,
 820,
 864,
 776,
 863,
 760,
 877,
 846,
 758,
 816,
 859,
 844,
 844,
 844,
 873,
 661,
 195,
 636,
 786,
 873,
 921,
 830,
 702,
 829,
 463,
 936,
 887,
 857,
 857,
 842,
 900,
 826,
 899,
 825,
 0,
 854,
 839,
 839,
 839,
 823,
 880,
 865,
 850,
 835,
 862,
 818,
 862,
 832,
 817,
 816,
 857,
 768,
 782,
 855,
 840,
 882,
 911,
 852,
 822,
 910,
 865,
 849,
 906,
 876,
 846,
 802,
 859,
 845,
 868,
 901,
 738,
 826,
 811,
 811,
 778,
 824,
 824,
 808,
 793,
 821,
 821,
 775,
 777,
 741,
 900,
 864,
 846,
 844,
 783,
 855,
 854,
 858,
 835,
 725,
 849,
 805]

In [ ]:
df_7th = pd.concat([pd.DataFrame(X7),pd.DataFrame(Y7)],axis = 1)
print("Train and target variables for 7th semester")
df_7th

Train and target variables for 7th semester

     I_no    S1    S2    S3    S4    S5    S6  target
0     906  3.59  3.68  3.87  3.57  3.58  3.64    3.26
1     905  2.92  2.87  3.09  2.86  2.72  3.17    2.92
2     863  3.09  3.23  3.02  3.21  3.09  2.96    2.88
3     882  2.62  3.09  3.00  2.68  2.65  3.13    3.00
4     904  3.29  3.06  3.19  3.15  3.32  3.30    3.34
..    ...   ...   ...   ...   ...   ...   ...     ...
178   858  2.98  2.59  2.72  3.16  2.94  3.11    3.06
179   835  2.77  2.80  2.85  2.88  2.94  2.68    2.86
180   725  2.87  2.64  2.85  3.02  2.75  3.00    3.00
181   849  3.27  3.43  3.45  3.30  3.35  3.36    3.26
182   805  3.12  2.81  2.68  2.74  2.75  2.87    3.32

[183 rows x 8 columns]

In [ ]:
df_7th

     I_no    S1    S2    S3    S4    S5    S6  target
0     906  3.59  3.68  3.87  3.57  3.58  3.64    3.26
1     905  2.92  2.87  3.09  2.86  2.72  3.17    2.92
2     863  3.09  3.23  3.02  3.21  3.09  2.96    2.88
3     882  2.62  3.09  3.00  2.68  2.65  3.13    3.00
4     904  3.29  3.06  3.19  3.15  3.32  3.30    3.34
..    ...   ...   ...   ...   ...   ...   ...     ...
178   858  2.98  2.59  2.72  3.16  2.94  3.11    3.06
179   835  2.77  2.80  2.85  2.88  2.94  2.68    2.86
180   725  2.87  2.64  2.85  3.02  2.75  3.00    3.00
181   849  3.27  3.43  3.45  3.30  3.35  3.36    3.26
182   805  3.12  2.81  2.68  2.74  2.75  2.87    3.32

[183 rows x 8 columns]

In [ ]:
df_7th.iloc[:,:-1].describe()

             I_no          S1          S2  ...          S4          S5          S6
count  183.000000  183.000000  183.000000  ...  183.000000  183.000000  183.000000
mean   805.120219    3.069126    3.062350  ...    2.980546    3.020055    3.002896
std    159.980963    0.228688    0.285327  ...    0.358992    0.395707    0.457744
min      0.000000    2.140000    1.890000  ...    0.670000    0.000000    0.000000
25%    817.500000    2.930000    2.910000  ...    2.790000    2.800000    2.820000
50%    844.000000    3.100000    3.080000  ...    2.990000    3.050000    3.010000
75%    874.500000    3.230000    3.230000  ...    3.200000    3.245000    3.270000
max    936.000000    3.590000    3.740000  ...    3.860000    3.820000    3.830000

[8 rows x 7 columns]

In [ ]:
df_7th.iloc[:,:-1].corr()

          I_no        S1        S2        S3        S4        S5        S6
I_no  1.000000  0.081146  0.046536  0.077233  0.101400  0.036989  0.016815
S1    0.081146  1.000000  0.302365  0.367928  0.328496  0.349100  0.304877
S2    0.046536  0.302365  1.000000  0.724270  0.647746  0.642876  0.540834
S3    0.077233  0.367928  0.724270  1.000000  0.748584  0.662057  0.646376
S4    0.101400  0.328496  0.647746  0.748584  1.000000  0.744178  0.776215
S5    0.036989  0.349100  0.642876  0.662057  0.744178  1.000000  0.765873
S6    0.016815  0.304877  0.540834  0.646376  0.776215  0.765873  1.000000

In [ ]:
scaled_7thsem = pd.DataFrame(StandardScaler().fit_transform(df_7th.iloc[:,:-1]),
                            columns = df_7th.columns[:-1])
print("Scaled 7th semester data ")
scaled_7thsem = pd.concat([scaled_7thsem,df_7th['target']],axis = 1)
scaled_7thsem

Scaled 7th semester data

         I_no        S1        S2  ...        S5        S6  target
0    0.632304  2.283914  2.170649  ...  1.418932  1.395653    3.26
1    0.626036 -0.653882 -0.675987  ... -0.760355  0.366061    2.92
2    0.362784  0.091529  0.589184  ...  0.177245 -0.093969    2.88
3    0.481874 -1.969313  0.097173  ... -0.937739  0.278436    3.00
4    0.619768  0.968483 -0.008258  ...  0.760078  0.650842    3.34
..        ...       ...       ...  ...       ...       ...     ...
178  0.331445 -0.390796 -1.660010  ... -0.202863  0.234624    3.06
179  0.187283 -1.311597 -0.921993  ... -0.202863 -0.707343    2.86
180 -0.502185 -0.873120 -1.484292  ... -0.684333 -0.006344    3.00
181  0.275034  0.880788  1.292058  ...  0.836100  0.782279    3.26
182 -0.000754  0.223072 -0.886849  ... -0.684333 -0.291125    3.32

[183 rows x 8 columns]

In [ ]:
X8 = {'I_no':[],'S1':[],'S2':[],'S3':[],'S4':[],'S5':[],'S6':[],'S7':[]}
Y8 = {"target":[]}
for i in df['RN'].unique():
    
    if len(df[df['RN'] == i]['sgpa']) == 8:
        X8['I_no'].append(df[df['RN']==i]['I_MARKS'].iloc[0])
        for index,value in enumerate(df[df['RN'] == i][:7]['sgpa']):
            X8['S{}'.format(index+1)].append(value)
for i in df['RN'].unique():
    if len(df[df['RN'] == i]['sgpa']) == 8:
        Y8['target'].append(df[df['RN'] == i].iloc[7]['sgpa'])

In [ ]:
df_8th = pd.concat([pd.DataFrame(X8),pd.DataFrame(Y8)],axis = 1)
print("Train and target variables for 8th semester")
df_8th

Train and target variables for 8th semester

     I_no    S1    S2    S3    S4    S5    S6    S7  target
0     906  3.59  3.68  3.87  3.57  3.58  3.64  3.26    3.77
1     905  2.92  2.87  3.09  2.86  2.72  3.17  2.92    3.24
2     863  3.09  3.23  3.02  3.21  3.09  2.96  2.88    3.57
3     882  2.62  3.09  3.00  2.68  2.65  3.13  3.00    3.43
4     904  3.29  3.06  3.19  3.15  3.32  3.30  3.34    3.47
..    ...   ...   ...   ...   ...   ...   ...   ...     ...
178   858  2.98  2.59  2.72  3.16  2.94  3.11  3.06    3.33
179   835  2.77  2.80  2.85  2.88  2.94  2.68  2.86    3.16
180   725  2.87  2.64  2.85  3.02  2.75  3.00  3.00    3.01
181   849  3.27  3.43  3.45  3.30  3.35  3.36  3.26    3.47
182   805  3.12  2.81  2.68  2.74  2.75  2.87  3.32    2.86

[183 rows x 9 columns]

In [ ]:
scaled_8thsem = pd.DataFrame(StandardScaler().fit_transform(df_8th.iloc[:,:-1]),
                            columns = df_8th.columns[:-1])
print("Scaled 8th semester data ")
scaled_8thsem = pd.concat([scaled_8thsem,df_8th['target']],axis = 1)
scaled_8thsem

Scaled 8th semester data

         I_no        S1        S2  ...        S6        S7  target
0    0.632304  2.283914  2.170649  ...  1.395653  0.602329    3.77
1    0.626036 -0.653882 -0.675987  ...  0.366061 -0.073418    3.24
2    0.362784  0.091529  0.589184  ... -0.093969 -0.152917    3.57
3    0.481874 -1.969313  0.097173  ...  0.278436  0.085582    3.43
4    0.619768  0.968483 -0.008258  ...  0.650842  0.761329    3.47
..        ...       ...       ...  ...       ...       ...     ...
178  0.331445 -0.390796 -1.660010  ...  0.234624  0.204831    3.33
179  0.187283 -1.311597 -0.921993  ... -0.707343 -0.192667    3.16
180 -0.502185 -0.873120 -1.484292  ... -0.006344  0.085582    3.01
181  0.275034  0.880788  1.292058  ...  0.782279  0.602329    3.47
182 -0.000754  0.223072 -0.886849  ... -0.291125  0.721579    2.86

[183 rows x 9 columns]

In [ ]:
df_8th.iloc[:,:-1].describe()

             I_no          S1          S2  ...          S5          S6          S7
count  183.000000  183.000000  183.000000  ...  183.000000  183.000000  183.000000
mean   805.120219    3.069126    3.062350  ...    3.020055    3.002896    2.956940
std    159.980963    0.228688    0.285327  ...    0.395707    0.457744    0.504527
min      0.000000    2.140000    1.890000  ...    0.000000    0.000000    0.000000
25%    817.500000    2.930000    2.910000  ...    2.800000    2.820000    2.810000
50%    844.000000    3.100000    3.080000  ...    3.050000    3.010000    3.020000
75%    874.500000    3.230000    3.230000  ...    3.245000    3.270000    3.210000
max    936.000000    3.590000    3.740000  ...    3.820000    3.830000    3.820000

[8 rows x 8 columns]

In [ ]:
df_8th.iloc[:,:-1].corr()

          I_no        S1        S2  ...        S5        S6        S7
I_no  1.000000  0.081146  0.046536  ...  0.036989  0.016815  0.002412
S1    0.081146  1.000000  0.302365  ...  0.349100  0.304877  0.253960
S2    0.046536  0.302365  1.000000  ...  0.642876  0.540834  0.460572
S3    0.077233  0.367928  0.724270  ...  0.662057  0.646376  0.521311
S4    0.101400  0.328496  0.647746  ...  0.744178  0.776215  0.722043
S5    0.036989  0.349100  0.642876  ...  1.000000  0.765873  0.636469
S6    0.016815  0.304877  0.540834  ...  0.765873  1.000000  0.778574
S7    0.002412  0.253960  0.460572  ...  0.636469  0.778574  1.000000

[8 rows x 8 columns]

In [ ]:
df_7th.shape

(183, 8)

# ------------------------------------------

# MileStone 2
### applying ML algorithms

In [ ]:
import keras

In [ ]:
from keras.models import Sequential
from keras.layers import Dense
from keras.optimizers import Adam,RMSprop
from keras import initializers
from sklearn.model_selection import train_test_split

In [ ]:
X = df_7th.iloc[:,:-1]
Y = df_7th.iloc[:,-1]
xtrain,xtest,ytrain,ytest = train_test_split(X,Y,test_size = 0.10,random_state = 54)

In [ ]:
len(xtrain),len(xtest)

(164, 19)

In [ ]:
def Model():
    model = Sequential()
    model.add(Dense(16,activation = 'relu',
                    kernel_initializer= initializers.RandomNormal(stddev = 0.1),
                    bias_initializer = initializers.zeros()
                    ,input_shape = (7,)))
    model.add(Dense(8,activation = 'relu'))
    model.add(Dense(1,activation = 'linear'))
    model.compile(optimizer=Adam(),loss = 'mae',metrics = ['mse'])
    return model

In [ ]:
model = Model()
model.fit(xtrain,ytrain,epochs = 100,batch_size = 10,validation_data = (xtest,ytest))

Epoch 1/100
17/17 [==============================] - 0s 10ms/step - loss: 38.0862 - mse: 1602.4126 - val_loss: 20.9561 - val_mse: 441.9917
Epoch 2/100
17/17 [==============================] - 0s 2ms/step - loss: 8.3113 - mse: 111.0271 - val_loss: 5.3772 - val_mse: 29.1359
Epoch 3/100
17/17 [==============================] - 0s 2ms/step - loss: 2.6545 - mse: 9.3678 - val_loss: 0.3639 - val_mse: 0.2170
Epoch 4/100
17/17 [==============================] - 0s 2ms/step - loss: 0.9845 - mse: 1.5225 - val_loss: 1.2431 - val_mse: 1.6842
Epoch 5/100
17/17 [==============================] - 0s 2ms/step - loss: 0.9730 - mse: 1.4959 - val_loss: 0.3497 - val_mse: 0.1822
Epoch 6/100
17/17 [==============================] - 0s 2ms/step - loss: 0.7873 - mse: 1.1801 - val_loss: 0.4648 - val_mse: 0.3461
Epoch 7/100
17/17 [==============================] - 0s 2ms/step - loss: 0.8089 - mse: 1.2517 - val_loss: 0.4724 - val_mse: 0.2897
Epoch 8/100
17/17 [==============================] - 0s 2ms/step - loss: 0.5468 - mse: 0.8872 - val_loss: 0.4684 - val_mse: 0.2852
Epoch 9/100
17/17 [==============================] - 0s 2ms/step - loss: 0.5526 - mse: 0.8439 - val_loss: 0.4124 - val_mse: 0.2293
Epoch 10/100
17/17 [==============================] - 0s 2ms/step - loss: 0.5216 - mse: 0.8320 - val_loss: 0.4462 - val_mse: 0.2605
Epoch 11/100
17/17 [==============================] - 0s 2ms/step - loss: 0.5501 - mse: 0.8670 - val_loss: 0.3953 - val_mse: 0.2132
Epoch 12/100
17/17 [==============================] - 0s 2ms/step - loss: 0.6171 - mse: 0.9368 - val_loss: 0.5886 - val_mse: 0.4225
Epoch 13/100
17/17 [==============================] - 0s 2ms/step - loss: 0.7562 - mse: 1.1036 - val_loss: 0.6984 - val_mse: 0.6356
Epoch 14/100
17/17 [==============================] - 0s 3ms/step - loss: 0.6909 - mse: 0.9965 - val_loss: 0.3565 - val_mse: 0.2079
Epoch 15/100
17/17 [==============================] - 0s 2ms/step - loss: 0.5676 - mse: 0.8455 - val_loss: 0.2839 - val_mse: 0.1312
Epoch 16/100
17/17 [==============================] - 0s 2ms/step - loss: 0.4974 - mse: 0.7370 - val_loss: 0.3260 - val_mse: 0.1707
Epoch 17/100
17/17 [==============================] - 0s 2ms/step - loss: 0.5198 - mse: 0.7255 - val_loss: 0.3586 - val_mse: 0.1808
Epoch 18/100
17/17 [==============================] - 0s 2ms/step - loss: 0.5097 - mse: 0.7158 - val_loss: 0.2968 - val_mse: 0.1356
Epoch 19/100
17/17 [==============================] - 0s 2ms/step - loss: 0.5835 - mse: 0.8178 - val_loss: 0.3262 - val_mse: 0.1583
Epoch 20/100
17/17 [==============================] - 0s 2ms/step - loss: 0.5520 - mse: 0.7730 - val_loss: 0.4015 - val_mse: 0.2574
Epoch 21/100
17/17 [==============================] - 0s 2ms/step - loss: 0.5389 - mse: 0.7613 - val_loss: 0.4562 - val_mse: 0.3186
Epoch 22/100
17/17 [==============================] - 0s 2ms/step - loss: 0.5469 - mse: 0.7300 - val_loss: 0.4166 - val_mse: 0.2754
Epoch 23/100
17/17 [==============================] - 0s 2ms/step - loss: 0.5186 - mse: 0.6717 - val_loss: 0.4160 - val_mse: 0.2741
Epoch 24/100
17/17 [==============================] - 0s 2ms/step - loss: 0.4684 - mse: 0.6610 - val_loss: 0.4454 - val_mse: 0.2523
Epoch 25/100
17/17 [==============================] - 0s 2ms/step - loss: 0.5969 - mse: 0.7389 - val_loss: 0.7721 - val_mse: 0.7009
Epoch 26/100
17/17 [==============================] - 0s 2ms/step - loss: 0.6962 - mse: 0.8641 - val_loss: 0.3875 - val_mse: 0.1971
Epoch 27/100
17/17 [==============================] - 0s 2ms/step - loss: 0.5110 - mse: 0.6726 - val_loss: 0.3036 - val_mse: 0.1388
Epoch 28/100
17/17 [==============================] - 0s 2ms/step - loss: 0.4956 - mse: 0.6128 - val_loss: 0.2874 - val_mse: 0.1286
Epoch 29/100
17/17 [==============================] - 0s 2ms/step - loss: 0.5071 - mse: 0.6069 - val_loss: 0.5120 - val_mse: 0.3214
Epoch 30/100
17/17 [==============================] - 0s 2ms/step - loss: 0.5425 - mse: 0.6712 - val_loss: 0.3397 - val_mse: 0.1862
Epoch 31/100
17/17 [==============================] - 0s 2ms/step - loss: 0.6295 - mse: 0.7500 - val_loss: 0.5634 - val_mse: 0.3867
Epoch 32/100
17/17 [==============================] - 0s 2ms/step - loss: 0.4874 - mse: 0.5277 - val_loss: 0.2764 - val_mse: 0.1211
Epoch 33/100
17/17 [==============================] - 0s 2ms/step - loss: 0.5885 - mse: 0.6202 - val_loss: 0.3378 - val_mse: 0.1541
Epoch 34/100
17/17 [==============================] - 0s 2ms/step - loss: 0.4949 - mse: 0.5503 - val_loss: 0.2568 - val_mse: 0.1047
Epoch 35/100
17/17 [==============================] - 0s 2ms/step - loss: 0.4478 - mse: 0.4734 - val_loss: 0.2650 - val_mse: 0.1105
Epoch 36/100
17/17 [==============================] - 0s 2ms/step - loss: 0.4409 - mse: 0.4551 - val_loss: 0.5030 - val_mse: 0.3100
Epoch 37/100
17/17 [==============================] - 0s 2ms/step - loss: 0.4800 - mse: 0.4663 - val_loss: 0.2661 - val_mse: 0.1121
Epoch 38/100
17/17 [==============================] - 0s 2ms/step - loss: 0.4012 - mse: 0.4032 - val_loss: 0.4072 - val_mse: 0.2480
Epoch 39/100
17/17 [==============================] - 0s 2ms/step - loss: 0.5342 - mse: 0.5059 - val_loss: 0.2999 - val_mse: 0.1445
Epoch 40/100
17/17 [==============================] - 0s 2ms/step - loss: 0.5574 - mse: 0.5306 - val_loss: 0.6304 - val_mse: 0.4938
Epoch 41/100
17/17 [==============================] - 0s 2ms/step - loss: 0.5738 - mse: 0.5380 - val_loss: 0.6534 - val_mse: 0.5223
Epoch 42/100
17/17 [==============================] - 0s 2ms/step - loss: 0.4697 - mse: 0.4080 - val_loss: 0.2709 - val_mse: 0.1082
Epoch 43/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3357 - mse: 0.3039 - val_loss: 0.2249 - val_mse: 0.0814
Epoch 44/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3377 - mse: 0.2944 - val_loss: 0.2279 - val_mse: 0.0842
Epoch 45/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3723 - mse: 0.3150 - val_loss: 0.2204 - val_mse: 0.0793
Epoch 46/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3518 - mse: 0.2954 - val_loss: 0.2255 - val_mse: 0.0804
Epoch 47/100
17/17 [==============================] - 0s 2ms/step - loss: 0.4907 - mse: 0.4429 - val_loss: 0.2149 - val_mse: 0.0758
Epoch 48/100
17/17 [==============================] - 0s 2ms/step - loss: 0.4924 - mse: 0.4213 - val_loss: 0.2551 - val_mse: 0.1021
Epoch 49/100
17/17 [==============================] - 0s 2ms/step - loss: 0.4669 - mse: 0.4086 - val_loss: 0.2182 - val_mse: 0.0773
Epoch 50/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3490 - mse: 0.2788 - val_loss: 0.3162 - val_mse: 0.1314
Epoch 51/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3169 - mse: 0.2748 - val_loss: 0.2158 - val_mse: 0.0757
Epoch 52/100
17/17 [==============================] - 0s 2ms/step - loss: 0.4040 - mse: 0.3351 - val_loss: 0.4236 - val_mse: 0.2234
Epoch 53/100
17/17 [==============================] - 0s 2ms/step - loss: 0.4585 - mse: 0.4159 - val_loss: 0.7501 - val_mse: 0.6265
Epoch 54/100
17/17 [==============================] - 0s 2ms/step - loss: 0.4768 - mse: 0.4410 - val_loss: 0.2815 - val_mse: 0.1080
Epoch 55/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3100 - mse: 0.2532 - val_loss: 0.2094 - val_mse: 0.0715
Epoch 56/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3716 - mse: 0.3048 - val_loss: 0.4744 - val_mse: 0.2974
Epoch 57/100
17/17 [==============================] - 0s 2ms/step - loss: 0.5920 - mse: 0.4959 - val_loss: 0.6067 - val_mse: 0.4295
Epoch 58/100
17/17 [==============================] - 0s 2ms/step - loss: 0.5887 - mse: 0.5412 - val_loss: 0.4960 - val_mse: 0.3030
Epoch 59/100
17/17 [==============================] - 0s 2ms/step - loss: 0.4266 - mse: 0.3729 - val_loss: 0.2726 - val_mse: 0.1018
Epoch 60/100
17/17 [==============================] - 0s 2ms/step - loss: 0.4466 - mse: 0.3607 - val_loss: 0.2205 - val_mse: 0.0718
Epoch 61/100
17/17 [==============================] - 0s 2ms/step - loss: 0.4231 - mse: 0.3240 - val_loss: 0.2912 - val_mse: 0.1338
Epoch 62/100
17/17 [==============================] - 0s 2ms/step - loss: 0.2964 - mse: 0.2347 - val_loss: 0.2084 - val_mse: 0.0701
Epoch 63/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3154 - mse: 0.2378 - val_loss: 0.3009 - val_mse: 0.1193
Epoch 64/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3815 - mse: 0.3085 - val_loss: 0.3025 - val_mse: 0.1415
Epoch 65/100
17/17 [==============================] - 0s 2ms/step - loss: 0.4123 - mse: 0.3184 - val_loss: 0.3006 - val_mse: 0.1190
Epoch 66/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3998 - mse: 0.2949 - val_loss: 0.3814 - val_mse: 0.1842
Epoch 67/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3560 - mse: 0.2826 - val_loss: 0.3847 - val_mse: 0.2051
Epoch 68/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3405 - mse: 0.2667 - val_loss: 0.2678 - val_mse: 0.1141
Epoch 69/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3293 - mse: 0.2319 - val_loss: 0.2387 - val_mse: 0.0915
Epoch 70/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3512 - mse: 0.2752 - val_loss: 0.2226 - val_mse: 0.0784
Epoch 71/100
17/17 [==============================] - 0s 3ms/step - loss: 0.2959 - mse: 0.2139 - val_loss: 0.2036 - val_mse: 0.0603
Epoch 72/100
17/17 [==============================] - 0s 2ms/step - loss: 0.2964 - mse: 0.2256 - val_loss: 0.1836 - val_mse: 0.0560
Epoch 73/100
17/17 [==============================] - 0s 3ms/step - loss: 0.3411 - mse: 0.2571 - val_loss: 0.1984 - val_mse: 0.0631
Epoch 74/100
17/17 [==============================] - 0s 2ms/step - loss: 0.2939 - mse: 0.2117 - val_loss: 0.2073 - val_mse: 0.0606
Epoch 75/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3326 - mse: 0.2627 - val_loss: 0.2149 - val_mse: 0.0734
Epoch 76/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3188 - mse: 0.2308 - val_loss: 0.2786 - val_mse: 0.1039
Epoch 77/100
17/17 [==============================] - 0s 2ms/step - loss: 0.2825 - mse: 0.1909 - val_loss: 0.3456 - val_mse: 0.1688
Epoch 78/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3484 - mse: 0.2701 - val_loss: 0.2887 - val_mse: 0.1110
Epoch 79/100
17/17 [==============================] - 0s 2ms/step - loss: 0.2824 - mse: 0.1976 - val_loss: 0.2036 - val_mse: 0.0575
Epoch 80/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3088 - mse: 0.2132 - val_loss: 0.2042 - val_mse: 0.0668
Epoch 81/100
17/17 [==============================] - 0s 2ms/step - loss: 0.2881 - mse: 0.1993 - val_loss: 0.2542 - val_mse: 0.1023
Epoch 82/100
17/17 [==============================] - 0s 2ms/step - loss: 0.2931 - mse: 0.2232 - val_loss: 0.1726 - val_mse: 0.0499
Epoch 83/100
17/17 [==============================] - 0s 2ms/step - loss: 0.2691 - mse: 0.1940 - val_loss: 0.1892 - val_mse: 0.0577
Epoch 84/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3165 - mse: 0.2137 - val_loss: 0.2575 - val_mse: 0.0889
Epoch 85/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3587 - mse: 0.2523 - val_loss: 0.2344 - val_mse: 0.0893
Epoch 86/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3725 - mse: 0.2714 - val_loss: 0.4187 - val_mse: 0.2281
Epoch 87/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3364 - mse: 0.2633 - val_loss: 0.2133 - val_mse: 0.0614
Epoch 88/100
17/17 [==============================] - 0s 2ms/step - loss: 0.2709 - mse: 0.1866 - val_loss: 0.2634 - val_mse: 0.0932
Epoch 89/100
17/17 [==============================] - 0s 2ms/step - loss: 0.2707 - mse: 0.1826 - val_loss: 0.1976 - val_mse: 0.0637
Epoch 90/100
17/17 [==============================] - 0s 2ms/step - loss: 0.2923 - mse: 0.1917 - val_loss: 0.1875 - val_mse: 0.0487
Epoch 91/100
17/17 [==============================] - 0s 2ms/step - loss: 0.2701 - mse: 0.1890 - val_loss: 0.2242 - val_mse: 0.0673
Epoch 92/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3315 - mse: 0.2378 - val_loss: 0.2075 - val_mse: 0.0718
Epoch 93/100
17/17 [==============================] - 0s 2ms/step - loss: 0.2619 - mse: 0.1892 - val_loss: 0.1671 - val_mse: 0.0447
Epoch 94/100
17/17 [==============================] - 0s 2ms/step - loss: 0.2992 - mse: 0.2122 - val_loss: 0.2802 - val_mse: 0.1072
Epoch 95/100
17/17 [==============================] - 0s 2ms/step - loss: 0.2973 - mse: 0.2112 - val_loss: 0.2292 - val_mse: 0.0849
Epoch 96/100
17/17 [==============================] - 0s 2ms/step - loss: 0.2721 - mse: 0.1815 - val_loss: 0.1773 - val_mse: 0.0513
Epoch 97/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3262 - mse: 0.2257 - val_loss: 0.3182 - val_mse: 0.1344
Epoch 98/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3125 - mse: 0.2167 - val_loss: 0.1664 - val_mse: 0.0432
Epoch 99/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3227 - mse: 0.2037 - val_loss: 0.2054 - val_mse: 0.0714
Epoch 100/100
17/17 [==============================] - 0s 2ms/step - loss: 0.3596 - mse: 0.2658 - val_loss: 0.2703 - val_mse: 0.0992

In [ ]:
model.evaluate(xtest,ytest)

1/1 [==============================] - 0s 2ms/step - loss: 0.2703 - mse: 0.0992

[0.27029168605804443, 0.09923022985458374]

### Now applying K-NN Regressor

In [ ]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error

In [ ]:
knn = KNeighborsRegressor(n_neighbors=6)

In [ ]:
knn.fit(xtrain,ytrain)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=6, p=2,
                    weights='uniform')

In [ ]:
pred = knn.predict(xtest)
pred

array([2.95333333, 2.89666667, 3.09333333, 3.09333333, 2.64333333,
       3.03      , 2.89      , 2.92333333, 3.17      , 2.96      ,
       3.21333333, 2.72666667, 2.72666667, 2.92333333, 3.15666667,
       3.04      , 3.08333333, 2.765     , 3.29333333])

In [ ]:
mean_squared_error(ytest,pred)

0.09981593567251468

Apply **Decision Tree **

In [ ]:
from sklearn.tree import DecisionTreeRegressor

In [71]:
tree = DecisionTreeRegressor(criterion='mse', min_samples_split=3, max_depth=None, min_samples_leaf=2, random_state=1)

In [72]:
tree.fit(xtrain, ytrain)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=2, min_samples_split=3,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=1, splitter='best')

In [73]:
prediction = tree.predict(xtest)
prediction

array([2.74      , 2.16666667, 3.08      , 2.88      , 3.14      ,
       3.23333333, 3.37      , 2.68      , 2.96      , 3.08      ,
       3.14      , 2.94666667, 0.465     , 3.64      , 3.24666667,
       3.29      , 3.2       , 2.74      , 3.08      ])

In [74]:
print("The prediction accuracy is : ",mean_squared_error(ytest, prediction), "%")

The prediction accuracy is :  0.28915453216374265 %